---
import Navbar from "../components/Navbar.astro";
import Nav_react_try from "../components/Nav_react_try.astro";
---

<html>
  <head>
    <link rel="icon" type="image/x-icon" href="./assets/github-alt.svg" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="kpFehBkQb-YBAQkbZv_9oFRFnVYje631S1eTFFn0pRE"
    />
    <title>Etoile Goussainvilloise</title>
  </head>
    <Nav_react_try />
    <main>
      <slot />
    </main>
</html>